// Responses

conversation(display_name="Druid Guard")
  statement#default
  responses
  statements
    statement#default
      text.
        Stop! You cannot pass here, yet! Go to speak to our leader in the lower right area of our city first.
