-
  const STATE_KEY = 'TQ_OPEN_SOURCE_WORLD_STATE';
  const worldState = getState(STATE_KEY) || {};

conversation(display_name="Druidic Leader")
  statement#default
  responses
  statements
    statement#default
      text.
        !{getTranslatedString('open_source.druid_leader.thank_you')}


-
  // After conversation happens once, Operator gets leader's permission
  const newWorldState = {
    ...worldState,
    leaderPermission: true
  }
  setState(STATE_KEY, newWorldState);
        