-
  const STATE_KEY = 'TQ_OPEN_SOURCE_WORLD_STATE';
  const worldState = getState(STATE_KEY) || {};

conversation(display_name="Druidic Leader")
  statement#default
  responses
  statements
    statement#default
      text.
        Thank you for answering our summons. The most urgent issue requiring
        your attention is the path to the 
        <span class="highlight">Flame of Open Source</span>. It would be a great
        service if you could unblock the path through the forest to the flame.
        I will see to it my guards let you pass.


-
  // After conversation happens once, Operator gets leader's permission
  const newWorldState = {
    ...worldState,
    leaderPermission: true
  }
  setState(STATE_KEY, newWorldState);
        