conversation(display_name="Druidic Guard")
  statement#default
  responses
  statements
    statement#default
      text.
        Peace, traveler. The way beyond is not yet safe, and we cannot let you
        pass. Return again later, and the way may be clear.
