conversation(display_name="Druidic Guard")
  statement#default
  responses
  statements
    statement#default
      text.
        Apologies traveler, but you may not enter here. Please speak with 
        our leader in the village first. With their permission, we could let you 
        pass.
